Body {
    color: #05F4B7;
    background-color: #262626;
    box-shadow:inset 0 500px 400px rgb(211, 211, 211),inset 0 -500px 400px rgb(216, 216, 216);
}
.nav-nav {
    color: #05F4B7;
}
figure {
    background-color: #353A40;
    padding:10px;
    text-align: center;
}
figure img {
    border-bottom: 5px;
    width: 500px;
}
.fixed {
    position:fixed !important;
    z-index: 100;
}
h3 {
    border: 20px;
}
.horizonBarContain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 40px;
}
.horizonBar {
    background-color:#05F4B7 ;
    display:flex;
    height: 10px;
    width: 80vw;
    
    box-shadow: 0px 0px 10px 10px #05F4B7;
    
}
.card {
    background-color: #353A40;
    max-width: 700px;
    min-width: 354px;
}
#mainPicture figure p {
    text-align: center;
}
.smallImages {
    height: 200px;
    width: contain;
    max-width: 250px;
}
.smallImagesWide {
    height: 200px;
    width: contain;
    max-width: 340px;
}
.mayAlignMe {
    margin: 0 auto;
}
.mayRoundCorners {
    border-radius: 20px;
}
.may10pxBottomCorners {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.rainbowBorder {
    border:10px solid;
    border-color: transparent;
}
.rainbowColor {
    position:relative;
    clip-path: inset(0px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}
.mayHideMe {
    background-color: transparent;
}
.getMyStuff {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    height:450px;
}
.getMyStuff button {
    font-size:xx-large;
}
.mayStuffContainer {
    width: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
}
#stuffContainerContainer {
    display:flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.getMyStuff:hover button {
        position: relative;
        right:3px;
        top:3px;
        box-shadow:3px -3px 5px 3px #05F4B7;
        animation-name:rotate;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
}
footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.selected:hover {
    box-shadow:3px -3px 5px 3px #EF0D50 !important;
}
.selected:focus {
    animation-play-state: paused !important;
}
/* I can't use this on images, because it also alters the color of it, as well as the text. */
.rainbowBorder:hover {
    /* on hover the transparent border becomes apparent */
    position:relative;

    /* huerotate make the hue rotate and change around the border for 6 seconds, in an infinite loop, linearly */
    animation: huerotate 6s infinite linear;
    /* this applies the hue rotation */
    filter: hue-rotate(360deg);
}
.card:hover {
    position: relative;
    right:3px;
    top:3px;
    box-shadow:3px -3px 5px 3px #EF0D50;
    animation-name:rotate;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.card-body a {
    color:#FF9DA4;
}
footer {
    background-color: #747F8C;
}
@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
}
@keyframes rotate {
    100% {
        transform:rotate(-1deg);
    }
    0% {
        transform:rotate(1deg);
    }
}